body{
  --aqua20: #6bbaa733;
  --aqua40: #6bbaa777;
  --aqua60: #6bbaa7aa;
  --aqua80: #6bbaa7cc;
  --aqua: #6bbaa7ff;
  --orange20: #fba10033;
  --orange40: #fba10077;
  --orange60: #fba100aa;
  --orange80: #fba100cc;
  --orange: #fba100;
  --lavender: #6c648b;
  --lavender40: #6c648b77;
  --gray: #b6a19e;
  --gray80: #b6a19ecc;
  --gray20: #b6a19e33;
  --gray40: #b6a19e77;

  --light-gray: #f9ddd9;
  background: linear-gradient(#6c648b, #b6a19ecc);
  background-repeat: no-repeat;
}
html{
  min-height:100%;
  height: fit-content;
}

.event-pool-btn{
  height: 40px;
  border-radius: 2px;
  border: none;
  background: var(--orange80);
  cursor: pointer;
}
.event-pool-btn:not(.disabled):hover{
  background: var(--orange);
}
.event-pool-btn[disabled="true"]{
  background: var(--gray80) !important;
}