body{
  --aqua20: #6bbaa733;
  --aqua40: #6bbaa777;
  --aqua60: #6bbaa7aa;
  --aqua80: #6bbaa7cc;
  --aqua: #6bbaa7ff;
  --orange20: #5D2BFF33;
  --orange40: #5D2BFF77;
  --orange60: #5D2BFFaa;
  --orange80: #5D2BFFcc;
  --orange: #5D2BFF;
  --lavender: #EDF0F3;
  --lavender40: #EDF0F377;
  --gray: #BFBFBF;
  --gray80: #BFBFBFcc;
  --gray20: #BFBFBF33;
  --gray40: #BFBFBF77;

  --light-gray: #f9ddd9;
  background: linear-gradient(var(--lavender), var(--gray80));
  background-repeat: no-repeat;
}
html{
  min-height:100%;
  height: fit-content;
}

.event-pool-btn{
  height: 40px;
  border-radius: 2px;
  border: none;
  background: var(--orange80);
  cursor: pointer;
  color: white;
}
.event-pool-btn:not(.disabled):hover{
  background: var(--orange);
}
.event-pool-btn[disabled="true"]{
  background: var(--orange20) !important;
}

.event-pool-btn.disabled:hover{
  cursor: not-allowed !important;
}