.home-page .status-container{
    display: flex;
    text-align: center;
    width: 70%;
    margin: auto;
    padding-top: 30px;
}
.home-page .status-container .item{
    flex-grow: 1;
    margin:auto ;
    width: 100%;
}
.home-page .status-container .item .title{
    font-weight: bold;
}
.home-page .status-container .item button{
    width: 12rem;
}