.import-data-container{
    width: 50%;
    margin: auto;
}

.import-data-container .import-data-content{
    width: fit-content;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.import-data-container .import-data-content .import-data-field{
    margin: 10px 0;
}

.import-data-container .import-data-content .import-data-field > label{
    margin-right: 10px;
    font-weight: bold;
}