.login-container {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-container .login-logo{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-container .login-logo .login-google-btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    bottom: 80px;
}